<div id="myModal"></div>
<div class="row">
  <%= link_to "New Link", new_link_path, remote: true, class: "btn btn-secondary float-right" %>
</div>

  <h2> Links </h2>
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Given URL</th>
        <th>Slug</th>
        <th>Use Count</th>
        <th>Shortend URL</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><%= truncate(link.given_url, length: 60) %></td>
          <td><%= link.slug %></td>
          <td><%= link.use_count %></td>
          <td><%= link_to "#{@host_name}/#{link.slug}","/#{link.slug}" , target: '_blank' %></td>
        </tr>
        <% end %>
      </tbody>
    </tbody>
  </table>
  
  <%= will_paginate(@links, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>


