<p id="notice"><%= notice %></p>

<p>
  <strong>Given url:</strong>
  <%= @link.given_url %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @link.slug %>
</p>

<p>
  <strong>Use count:</strong>
  <%= @link.use_count %>
</p>

<%#= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
