<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">

    <!-- Links -->
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
    </ul>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

      <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= current_user.email %></a>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link" %>
      </li>
      <% else %>

      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


<div class="container">
  <% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong><%= alert %>
    </div>
    <% end %>
    <% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
  </html>
